body {
    font-size: 16px;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.card-title {
    font-size: 1.5rem;
}

.delete-button {
    background-color: #ff5858;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
}
